// Place all the styles related to the recommendation_forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-select{
	width: 125px !important;
}

.minicolors-theme-default .minicolors-input{
	height: 25px !important;
}

.recmnd_comment{
  width: 600px; 
  height: 150px;
}

